<div class="scanner">
  
<button mat-raised-button type="button" (click)="isReadyToScaneCode = !isReadyToScaneCode">Scan QR Code</button>
<div *ngIf="isReadyToScaneCode">
  Capture your QR code:

  <zxing-scanner start="true" (scanSuccess)="onCodeResult($event)" [formats]="allowedFormats"></zxing-scanner>

  <section class="results" *ngIf="qrResultString">
    <div>
      <small>Result</small>
      <strong>{{ qrResultString }}</strong>
      <button mat-icon-button (click)="clearResult()">&times;</button>
    </div>

  </section>
</div>
</div>
